.founders {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 1px solid rgb(110, 99, 160);
  border-radius: 10px;
  backdrop-filter: blur(14px);
  background-color: #363952;
  transition: ease-in-out 0.3s;
  /* max-width: 350px; */
  /* height: 420px; */
  /* width: 40%; */
  padding: 2rem;
  margin: 25px 30px;
  text-align: center;
  /* max-width: 350px; */
}

.card:hover {
  transform: scale(1.02);
}

.card p {
  font-size: 16px;
  max-width: 25ch;
}

.card a {
  margin: auto 10px;
}

@media screen and (max-width: 768px) {
  .grid {
    padding: 1rem;
  }

  .card p {
    font-size: 14px;
  }
}
